body {
    margin: 0;
    background-color: black;
    text-align: center;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    line-height: 2em;
}

header {
    background-color: bisque;
    padding: 20px;
    min-height: 40px;
}

main {
    color: peachpuff;
}

img {
    display: block;
    padding: 1em;
    margin: 20px auto 0px auto;
    box-shadow: bisque 0px 0px 5px 0px;
}

code {
    font-family: courier,monospace;
    font-size: 0.875em;
    box-sizing: border-box;
    background-color: peachpuff;
    color: black;
    padding: 3px 3px 3px;
    border-radius: 3px;
    position: relative;
    top: -2px;
}

pre {
    font-family: courier,monospace;
    font-size: 0.875em;
    box-sizing: border-box;
    background-color: peachpuff;
    color: black;
    overflow-x: auto;
    padding-top: 2em;
    padding-left: 0em;
    line-height: 1.5em;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: peachpuff;
    border-width: 5px;
    width: 50%;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

a:link, a:active {
    text-decoration: none;
    color: crimson
}

a:visited {
    text-decoration: none;
    color: teal
}

a:hover {
    text-decoration: none;
    font-size: 105%;
}

.header-navigation {
    display: block;
    float: right;
    font-weight: bold;
    text-transform: uppercase;
}

.navigation-padding-right {
    padding-right: 100px;
}

.blog-content {
    border-radius: 2em;
    margin: 60px 60px;
    padding: 10px;
    min-height: 250px;
    min-width: auto;
    text-align: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.blog-entries {
    border-radius: 2em;
    box-shadow: bisque 0px 0px 5px 2px;
    margin: 60px 20px;
    padding: 20px;
    color: peachpuff;
    min-height: 250px;
    min-width: fit-content;
    text-align: left;
}

#blog-entries-list {
    list-style-type: none;
}

footer {
    background-color: bisque;
    padding: 15px;
    max-height: 4em;
    text-align: center;
}

.footer-navigation {
    font-size: 15pt;
}

#copyright {
    font-size: 9pt;
    color: black;
}