body {
    margin: 0;
    background-color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: bisque;
    padding: 20px;
    height: 30px;
    width: auto;
}

.header-navigation {
    display: block;
    float: right;
    font-weight: bold;
    text-transform: uppercase;
}

.navigation-padding-right {
    padding-right: 100px;
  }

sample1 a:link { font-size:14px;color:red; }
  2
  #sample1 a:visited { font-size:15px;color:green; }
  3
  #sample1 a:hover { font-size:16px;color:blue; }
  4
  #sample1 a:active { font-size:17px;color:black; }
  




.title {
    background-image: url("../images/pohara-beach-sunset-shells.jpg");
    max-width: 1377px;
    height: 843px;
    margin: -28px;
}

h1 {
    color: peachpuff;
    padding: 1em 0 0 0;
    text-shadow: black 2px 2px;
}

h2 {
    color: peachpuff;
    text-shadow: black 2px 2px;
    text-transform: lowercase;
}

#about-me-heading {
    color: black;
    font-size: 20pt;
    padding: 0;
    text-shadow: black 1px 1px;
}

#blog-entries-heading {
    font-size: 20pt;
    padding: 0;
    text-shadow:peachpuff 1px 1px;
}

.introductions {
    background-color: bisque;
    border-radius: 2em;
    margin: 60px 20px;
    padding: 20px;
    min-height: 250px;
    min-width: fit-content;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

img {
    border-radius: 1em;
}

.blog-entries {
    border-radius: 2em;
    box-shadow: bisque 0px 0px 5px 2px;
    margin: 60px 20px;
    padding: 20px;
    color: peachpuff;
    min-height: 250px;
    min-width: fit-content;
}

#blog-entries-list {
    list-style-type: none;
}

footer {
    background-color: bisque;
    padding: 15px;
}

.footer {
    font-size: 15pt;
    text-align: center;
}

#copyright {
    text-align: center;
    font-size: 10px;
}