body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

div {
    padding: 20px; 
}

main {
    background-color: #96d1c7;
    display: block;
}

header {
    text-align: right;
}

#navigation {
    font-size: 20pt;
    font-weight: bold;
    text-transform: uppercase;
}

.row {
    display: flex;
}


.descriptions {
    flex-basis: auto;
}
img {
    border-radius: 50px;
    flex-basis: auto;
}


.footer {
    font-size: 15pt;
}



#copyright {
    text-align: center;
    font-size: 12px;
}